:host {
  display: block;
  height: 100%;
}

.manage-page-scroll {
  scrollbar-gutter: stable;
  height: 100%;
  overflow-y: auto;
}

.manage-page-scroll::-webkit-scrollbar {
  width: 8px;
}

.manage-page-scroll::-webkit-scrollbar-thumb {
  background: rgb(203 213 225);
  border-radius: 4px;
}
